<% provide(:title, "Edit user") %>
<h3>Update your profile</h3>

<div class="row well">
  <%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
    <fieldset>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="col-md-6">
        <h2>About Me</h2>
        <div class="control-group">
          <%= f.label :birthday, :class => 'control-label' %>
          <%= f.date_field :birthday %>
        </div>

        <div class="control-group">
          <%= f.label :phone, "Phone Number", :class => 'control-label' %>
          <%= f.telephone_field(:phone) %>
        </div>

        <div class="control-group">
          <%= f.label :location, :class => 'control-label' %>
          <%= f.text_field :location, :placeholder => "Town, State" %>
        </div>

        <div class="control-group">
          <%= f.label :aliments, :class => 'control-label' %>
          <%= f.text_area :aliment %>
        </div>

        <div class="control-group">
          <%= f.label :allergies, :class => 'control-label' %>
          <%= f.text_area :allergy %>
        </div>
      </div>

      <div class="col-md-5">
        <h2>Personal Information</h2>
        <div class="control-group">
          <%= f.label :name, :class => 'control-label' %>
          <%= f.text_field :name, :class => 'text_field' %>
        </div>

        <div class="control-group">
          <%= f.label :email, :class => 'control-label' %>
          <%= f.email_field :email, :class => 'text_field' %>
        </div>

        <div class="control-group">
          <%= f.label :studio, :class => 'control-label' %>
          <%= collection_select(:user, :studio_id, Studio.all, :id, :name) %>
        </div>
      
        <div class="control-group">
          <%= f.label :ayurveda, :class => 'control-label' %>
          <%= collection_select(:user, :ayurveda_id, Ayurveda.all, :id, :name) %>
        </div>
      </div>

      <div class="col-md-7 col-md-offset-3">
        <h4>Enter your password and confirm to update your profile</h4>

        <div class="control-group">
          <%= f.label :password, :class => 'control-label' %>
          <%= f.password_field :password %>
        </div>

        <div class="control-group">
          <%= f.label :password_confirmation, "Confirmation", :class => 'control-label' %>
          <%= f.password_field :password_confirmation %>
        </div>

        <div class="form-actions">
          <%= f.submit "Save changes", class: "btn btn-info" %>
          <%= link_to 'Cancel', current_user, :class => 'btn btn-danger' %>
        </div>
      </div>
    </fieldset>
  <% end %>
</div>