<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="span6 offset3">
     <%= form_for @user do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :studio %>
      <%= collection_select(:user, :studio_id, Studio.all, :id, :name) %>
      
      <%= f.label :ayurveda %>
      <%= collection_select(:user, :ayurveda_id, Ayurveda.all, :id, :name) %>

      <h2>Tell us more about yourself so we can better help you!</h2>

      <%= f.label :aliments %>
      <%= f.text_area :aliment %>

      <%= f.label :allergies %>
      <%= f.text_area :allergy %>

      <%= f.label :birthday %>
      <%= f.date_field :birthday %>

      <%= f.label :location %>
      <%= f.text_field :location, :placeholder => "Town, State" %>

      <%= f.label :phone %>
      <%= f.telephone_field(:phone) %>

      <%= f.label :gender %>
      <%= f.collection_radio_buttons :gender, [['Female', 'Female'], 
                                    ['Male', 'Male']], :first, :last %>

      <h2>Enter your password and confirm to update your profile</h2>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>
      <%= f.submit "Save changes", class: "btn btn-large btn-primary"%>
    <% end %>

    <%= form_for @user do |f| %>
      
      
    <% end %>
  </div>
</div>