<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="span6 offset3">
    <%= simple_form_for @user do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.input :name %>
      <%= f.input :email %>
      <%= f.input :studio_id, collection: Studio.order('created_at DESC').to_a, 
                                  prompt: "Select your affliated studio" %>
      <%= f.input :ayurveda_id, collection: Ayurveda.order('created_at DESC').to_a,
                                  prompt: "Select an affliated practioner" %>

      <h2>Tell us more about yourself so we can better help you!</h2>

      <%= f.input :aliment, as: :text %>
      <%= f.input :allergy, as: :text %>
      <%= f.input :birthday %>
      <%= f.input :location, :placeholder => "Town, State" %>
      <%= f.input :phone, :placeholder => "Enter your phone number; numbers only" %>
      <%= f.label :gender %>
      <%= f.collection_radio_buttons :gender, [['Female', 'Female'], 
                                    ['Male', 'Male']], :first, :last %>

      <h2>Enter your password and confirm to update your profile</h2>

      <%= f.input :password %>
      <%= f.input :password_confirmation %>
      <%= f.submit "Save changes", class: "btn btn-large btn-primary"%>
    <% end %>
  </div>
</div>