<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3 well">
    <%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
      <fieldset>
      <%= render 'shared/error_messages', object: f.object %>

        <div class="control-group">
          <%= f.label :name, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :name, :class => 'text_field' %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :email, :class => 'control-label' %>
          <div class="controls">
            <%= f.email_field :email, :class => 'text_field' %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :studio, "Yoga Studio", :class => 'control-label' %>
          <div class="controls">
            <%= collection_select(:user, :studio_id, Studio.all, :id, :name,
                                  prompt: "Select your Yoga Studio") %>
          </div>
        </div>
      
        <div class="control-group">
          <%= f.label :ayurveda, "Ayurveda Practioner", :class => 'control-label' %>
          <div class="controls">
            <%= collection_select(:user, :ayurveda_id, Ayurveda.all, :id, :name, 
                                  prompt: "Select your Practionier") %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :password, :class => 'control-label' %>
          <div class="controls">
            <%= f.password_field :password %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :password_confirmation, "Confirmation", :class => 'control-label' %>
          <div class="controls">
            <%= f.password_field :password_confirmation %>
          </div>
        </div>

        <div class="form-actions">
          <%= f.submit "Create my account", class: "btn btn-large btn-info" %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>