<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= simple_form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.input :name %>
      <%= f.input :email %>
      <%= f.input :studio_id, collection: Studio.all(order: 'name'), 
                                  prompt: "Select your affliated studio" %>
      <%= f.input :ayurveda_id, collection: Ayurveda.all(order: 'name'),
                                  prompt: "Select an affliated practioner" %>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>

      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>