<% provide(:title, @user.name) %>
  <h1><%= @user.name %></h1>
  <div class="row">
    <div class="span6">
      <h3>Personal Information</h3>
        <b>Current email: </b><%= @user.email %><br/ >
        <b>Affliated Yoga Studio: </b><%= @user.studio.try(:name) %><br/ >
        <b>Affliated Ayurveda Practioner: </b><%= @user.ayurveda.try(:name) %><br/ >
      <h3>About Me</h3>
        <b>Aliments: </b><%= @user.aliment %><br/ >
        <b>Known allgeries: </b><%= @user.allergy %><br/ >
        <b>Birthday: </b><%= @user.birthday %><br/ >
        <b>Location: </b><%= @user.location %><br/ >
        <b>Phone number: </b><%= @user.phone %><br/ >
    </div>
    <div class="span6">
  	  <h3>Recent Orders</h3>
  	    A list of recently ordered menu items
    </div>  
  </div>
