<% provide(:title, @user.name) %>
<h1><%= @user.name %></h1>
<div>
  <b>Email: </b><%= @user.email %><br/ >
  <b>Affiliated Yoga Studio: </b><%= @user.studio.name %><br/ >
  <b>Affiliated Ayurveda Practionier: </b><%= @user.ayurveda.name %><br/ >
  <b>Aliments: </b><%= @user.aliment %><br/ >
  <b>Known allgeries: </b><%= @user.allergy %><br/ >
  <b>Birthday: </b><%= @user.birthday %><br/ >
  <b>Location: </b><%= @user.location %><br/ >
  <b>Phone number: </b><%= @user.phone %><br/ >
  <b>Gender: </b><%= @user.gender %><br/ >
</div>
