<% provide(:title, 'Contact') %>
<h3>We'd love to hear from you!</h3>
<div class="row">
  <div class="col-md-7 col-md-offset-1 well">
    <p>Contact us by phone at 603-361-4296.</p>
    <p>Contact us via the web:</p>
  	<%= form_for @contact, :html => { :class => 'form-horizontal' } do |f| %>
      <fieldset>
        <%= render 'shared/error_messages', object: f.object %>

        <div class="input-group">
          <span class="input-group-addon">Name</span>
          <%= f.text_field :name, :class => 'form-control', :required => true %>
        </div><br><br>

        <div class="input-group">
          <span class="input-group-addon">Email</span>
          <%= f.email_field :email, :class => 'form-control', :required => true %>
        </div><br><br>

        <div class="input-group">
          <span class="input-group-addon">Phone Number</span>
          <%= f.telephone_field(:phone, :class => 'form-control') %>
        </div><br><br>

        <div class="input-group">
          <span class="input-group-addon">Message</span>
          <%= f.text_area :message, :as => :text, :required => true, :class => 'form-control' %>
        </div><br><br>
    
        <div class= "hidden">
          <%= f.hidden_field :nickname, :hint => 'Leave this field blank!' %>
        </div>

        <div>
          </br>
          <%= f.submit "Send Message", :class=> "btn btn-info" %>
        </div>
      </fieldset>
    <% end %>   
  </div>
</div> 
